# 파이썬을 파이썬답게

정수를 담은 이차원 리스트, mylist 가 solution 함수의 파라미터로 주어집니다. mylist에 들은 각 원소의 길이를 담은 리스트를 리턴하도록 solution 함수를 작성해주세요.

제한 조건
mylist의 길이는 100 이하인 자연수입니다.
mylist 각 원소의 길이는 100 이하인 자연수입니다.

In [22]:
def solution(mylist):
    answer = []
    for i in mylist:
        answer.append(len(i))
    return answer

In [23]:
def solution(mylist):
    return list(map(len, mylist))

iterable: 자신의 멤버를 한 번에 하나씩 리턴할 수 있는 객체입니다. list, str, tuple, dict 등이 여기에 속합니다.
sequence: int 타입 인덱스를 통해, 원소에 접근할 수 있는 iterable 입니다. iterable의 하위 카테고리라고 생각하시면 됩니다. 
list, str, tuple이 여기 속합니다. ( dictionary는 다양한 타입을 통해 원소에 접근할 수 있기 때문에 sequence에 속하지 않습니다.

# 몫과 나머지

문제 설명
숫자 a, b가 주어졌을 때 a를 b로 나눈 몫과 a를 b로 나눈 나머지를 공백으로 구분해 출력해보세요.

입력 설명
입력으로는 공백으로 구분된 숫자가 두 개 주어집니다.
첫 번째 숫자는 a를 나타내며, 두 번째 숫자는 b를 나타냅니다.

출력 설명
a를 b로 나눈 몫과 a를 b로 나눈 나머지를 공백으로 구분해 출력하세요.

제한 조건
a와 b는 자연수입니다

In [26]:
a, b = map(int, input().strip().split(' '))
print(a//b, a%b)

 5 3

1 2

In [27]:
a = 7
b = 5
print(*divmod(a, b))

1 2

가독성이나, 팀의 코드 스타일에 따라서, a//b, a%b와 같이 쓸 때가 더 좋을 수도 있습니다.
또한, divmod는 작은 숫자를 다룰 때는 a//b, a%b 보다 느립니다. 대신, 큰 숫자를 다룰 때는 전자가 후자보다 더 빠르지요.

# n진법으로 표기된 string을 10진법 숫자로 변환하기


문제 설명
base 진법으로 표기된 숫자를 10진법 숫자 출력해보세요.

입력 설명
입력으로는 공백으로 구분된 숫자가 두 개 주어집니다.
첫 번째 숫자는 num을 나타내며, 두 번째 숫자는 base를 나타냅니다.

출력 설명
base 진법으로 표기된 num을 10진법 숫자로 출력해보세요.

제한 조건
base는 10 이하인 자연수입니다.
num은 3000 이하인 자연수입니다.

In [29]:
num, base = map(int, input().strip().split(' '))

res = 0
n = str(num)
b = 1

for i in n[::-1]:
    res += int(i)*b
    b *= base

print(res)

 1 3

1

In [30]:
num = '3212'
base = 5
answer = int(num, base)
print(answer)

432

# 문자열 정렬하기

문제 설명
문자열 s와 자연수 n이 입력으로 주어집니다. 문자열 s를 좌측 / 가운데 / 우측 정렬한 길이 n인 문자열을 한 줄씩 프린트해보세요.

제한조건
s의 길이는 n보다 작습니다.
(n - s의 길이)는 짝수입니다.
s는 알파벳과 숫자로만 이루어져 있으며, 공백 문자가 포함되어있지 않습니다.

In [31]:
s, n = input().strip().split(' ')
n = int(n)

slen = len(s)

print(s)

mid_s = ''
for i in range(n):
    if i < (n-slen)/2:
        mid_s += ' '
    elif i == (n-slen)/2:
        mid_s += s
    else: mid_s += ' '

print(mid_s)

last_s = ''
for i in range(n):
    if i < n-slen:
        last_s += ' '
    else: last_s += s; break

print(last_s)

 abc 7

abc
  abc
    abc

In [32]:
s = '가나다라'
n = 7

s.ljust(n) # 좌측 정렬
s.center(n) # 가운데 정렬
s.rjust(n) # 우측 정렬

'   가나다라'

# 알파벳 출력하기

문제 설명
입력으로 0이 주어지면 영문 소문자 알파벳을, 입력으로 1이 주어지면 영문 대문자 알파벳을 사전 순으로 출력하는 코드를 짜세요.

In [2]:
num = int(input().strip())

if num == 0:
    for i in range(97, 123):
        print(chr(i), end='')

if num == 1:
    for i in range(65, 91):
        print(chr(i), end='')

 0

abcdefghijklmnopqrstuvwxyz

In [3]:
import string 

string.ascii_lowercase # 소문자 abcdefghijklmnopqrstuvwxyz
string.ascii_uppercase # 대문자 ABCDEFGHIJKLMNOPQRSTUVWXYZ
string.ascii_letters # 대소문자 모두 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
string.digits # 숫자 0123456789

'0123456789'

# 원본을 유지한채, 정렬된 리스트 구하기 - sorted

In [4]:
list1 = [3, 2, 1]
list2 = [i for i in list1] # 또는 copy.deepcopy를 사용
list2.sort()

In [5]:
list1 = [3, 2, 1]
list2 = sorted(list1)

# 2차원 리스트 뒤집기

문제 설명
다음을 만족하는 함수, solution을 완성해주세요.

solution 함수는 이차원 리스트, mylist를 인자로 받습니다
solution 함수는 mylist 원소의 행과 열을 뒤집은 한 값을 리턴해야합니다.
예를 들어 mylist [[1, 2, 3], [4, 5, 6], [7, 8, 9]]가 주어진 경우, solution 함수는 [[1, 4, 7], [2, 5, 8], [3, 6, 9]] 을 리턴하면 됩니다.

제한 조건
mylist의 원소의 길이는 모두 같습니다.
mylist의 길이는 mylist[0]의 길이와 같습니다.
각 리스트의 길이는 100 이하인 자연수입니다.

In [9]:
def solution(mylist):
    answer = []
    
    for i in range(len(mylist)):
        lst = []
        for j in range(len(mylist)):
            lst.append(mylist[j][i])
        answer.append(lst)
        
    return answer

In [10]:
mylist = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = list(map(list, zip(*mylist)))

In [19]:
mylist = [1, 2, 3]
new_list = [40, 50, 60]
for i in zip(mylist, new_list):
    print (i)

(1, 40)
(2, 50)
(3, 60)

(1, 40)
(2, 50)
(3, 60)

(3, 60)

In [20]:
animals = ['cat', 'dog', 'lion']
sounds = ['meow', 'woof', 'roar']
answer = dict(zip(animals, sounds)) # {'cat': 'meow', 'dog': 'woof', 'lion': 'roar'}

# i번째 원소와 i+1번째 원소

문제 설명
숫자를 담은 리스트 mylist가 solution 함수의 파라미터로 주어집니다. solution 함수가 mylist의 i번째 원소와 i+1번째 원소의 차를 담은 일차원 리스트에 차례로 담아 리턴하도록 코드를 작성해주세요.

단, 마지막에 있는 원소는 (마지막+1)번째의 원소와의 차를 구할 수 없으니, 이 값은 구하지 않습니다.

제한 조건
mylist의 길이는 1 이상 100 이하인 자연수입니다.
mylist의 원소는 1 이상 100 이하인 자연수입니다

In [21]:
def solution(mylist):
    answer = []

    for i in range(len(mylist)-1):
        answer.append(abs(mylist[i] - mylist[i+1]))
        
    return answer

In [22]:
def solution(mylist):
    answer = []
    for number1, number2 in zip(mylist, mylist[1:]):
        answer.append(abs(number1 - number2))
    return answer

# zip 함수에 서로 길이가 다른 리스트가 인자로 들어오는 경우에는 길이가 짧은 쪽 까지만 이터레이션이 이루어집니다. 더 자세한 내용은 공식 레퍼런스 - zip의 내용을 참고해주세요.

# 모든 멤버의 type 변환하기

문제 설명
문자열 리스트 mylist를 입력받아, 이 리스트를 정수형 리스트로 바꾼 값을 리턴하는 함수, solution을 만들어주세요. 예를 들어 mylist가 ['1', '100', '33'] 인 경우, solution 함수는 [1, 100, 33] 을 리턴하면 됩니다.

제한조건
mylist의 길이는 100 이하인 자연수입니다.
mylist의 원소는 10진수 숫자로 표현할 수 있는 문자열입니다. 즉, 'as2' 와 같은 문자열은 들어있지 않습니다.

In [24]:
def solution(mylist):
    answer = []
    answer = list(map(int, mylist))
    return answer

In [25]:
list1 = ['1', '100', '33']
list2 = list(map(int, list1))

# map 함수 응용하기

문제 설명
정수를 담은 이차원 리스트, mylist 가 solution 함수의 파라미터로 주어집니다. solution 함수가 mylist 각 원소의 길이를 담은 리스트를 리턴하도록 빈칸을 완성해보세요.

hint) 이전 강의에서 배운 map 함수를 활용해보세요

제한 조건
mylist의 길이는 100 이하인 자연수입니다.
mylist 각 원소의 길이는 100 이하인 자연수입니다.

In [27]:
def solution(mylist):
    answer = list(map(len, mylist))
    return answer

# sequence 멤버를 하나로 이어붙이기

문제 설명
문자열 리스트 mylist를 입력받아, 이 리스트의 원소를 모두 이어붙인 문자열을 리턴하는 함수, solution을 만들어주세요. 예를 들어 mylist가 ['1', '100', '33'] 인 경우, solution 함수는 '110033'을 리턴하면 됩니다.

제한 조건
mylist의 길이는 100 이하인 자연수입니다.
mylist의 원소의 길이는 100 이하인 자연수입니다.

In [28]:
def solution(mylist):
    answer = ''
    answer = ''.join(mylist)
    return answer

In [29]:
# 다른 언어에서는..(또는 이 기능을 모르시는 분은)
# 보통 사람들은 for 문을 이용해 원소를 하나씩 이어 붙입니다.
my_list = ['1', '100', '33']
answer = ''
for value in my_list:
    answer += value
    
# 파이썬의 str.join(iterable)을 사용하면 이 코드를 두 줄로 줄일 수 있습니다 .
my_list = ['1', '100', '33']
answer = ''.join(my_list)

# 삼각형 별찍기

문제 설명
이 문제에는 표준 입력으로 정수 n이 주어집니다.
별(*) 문자를 이용해 높이가 n인 삼각형을 출력해보세요.

제한 조건
n은 100 이하인 자연수입니다.

In [1]:
n = int(input().strip())

for i in range(n):
    print("*"*(i+1))

 3

*
**
***

In [2]:
import itertools

iterable1 = 'ABCD'
iterable2 = 'xy'
iterable3 = '1234'
print(list(itertools.product(iterable1, iterable2, iterable3)))

[('A', 'x', '1'), ('A', 'x', '2'), ('A', 'x', '3'), ('A', 'x', '4'), ('A', 'y', '1'), ('A', 'y', '2'), ('A', 'y', '3'), ('A', 'y', '4'), ('B', 'x', '1'), ('B', 'x', '2'), ('B', 'x', '3'), ('B', 'x', '4'), ('B', 'y', '1'), ('B', 'y', '2'), ('B', 'y', '3'), ('B', 'y', '4'), ('C', 'x', '1'), ('C', 'x', '2'), ('C', 'x', '3'), ('C', 'x', '4'), ('C', 'y', '1'), ('C', 'y', '2'), ('C', 'y', '3'), ('C', 'y', '4'), ('D', 'x', '1'), ('D', 'x', '2'), ('D', 'x', '3'), ('D', 'x', '4'), ('D', 'y', '1'), ('D', 'y', '2'), ('D', 'y', '3'), ('D', 'y', '4')]

# 2차원 리스트를 1차원 리스트로 만들기

문제 설명
문자열을 담은 이차원 리스트, mylist 가 solution 함수의 파라미터로 주어집니다. solution 함수가 mylist를 일차원 리스트로 만들어 리턴하도록 코드를 작성해주세요.

제한 조건
arr의 길이는 1 이상 100 이하인 자연수입니다.
arr 원소의 길이는 5를 넘지 않습니다.

In [3]:
def solution(mylist):
    answer = []
    for i in mylist:
        for j in i:
            answer.append(j)
    
    return answer

In [4]:
my_list = [[1, 2], [3, 4], [5, 6]]

# 방법 1 - sum 함수
answer = sum(my_list, [])

# 방법 2 - itertools.chain
import itertools
list(itertools.chain.from_iterable(my_list))

# 방법 3 - itertools와 unpacking
import itertools
list(itertools.chain(*my_list))

# 방법 4 - list comprehension 이용
[element for array in my_list for element in array]

# 방법 5 - reduce 함수 이용 1
from functools import reduce
list(reduce(lambda x, y: x+y, my_list))

# 방법 6 - reduce 함수 이용 2
from functools import reduce
import operator
list(reduce(operator.add, my_list))

# 방법 7 - numpy 라이브러리의 flatten 이용
import numpy as np
np.array(my_list).flatten().tolist()

[1, 2, 3, 4, 5, 6]

# 순열과 조합

문제 설명
숫자를 담은 일차원 리스트, mylist에 대해 mylist의 원소로 이루어진 모든 순열을 사전순으로 리턴하는 함수 solution을 완성해주세요.

제한 조건
mylist 의 길이는 1 이상 100 이하인 자연수입니다.

In [5]:
from itertools import permutations

def solution(mylist):
    answer = [[]]
    answer = list(permutations(sorted(mylist), len(mylist)))
    return answer

In [6]:
import itertools

pool = ['A', 'B', 'C']
print(list(map(''.join, itertools.permutations(pool)))) # 3개의 원소로 수열 만들기
print(list(map(''.join, itertools.permutations(pool, 2)))) # 2개의 원소로 수열 만들기

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']
['AB', 'AC', 'BA', 'BC', 'CA', 'CB']

# 가장 많이 등장하는 알파벳 찾기

문제 설명
이 문제에는 표준 입력으로 문자열, mystr이 주어집니다. mystr에서 가장 많이 등장하는 알파벳만을 사전 순으로 출력하는 코드를 작성해주세요.

제한 조건
mystr의 원소는 알파벳 소문자로만 주어집니다.
mystr의 길이는 1 이상 100 이하입니다.

In [8]:
my_str = input().strip()

answer = ''
alphabet = dict()

for i in my_str:
    if i in alphabet:
        alphabet[i] += 1
    else: alphabet[i] = 1

m = max(alphabet.values())

for i in alphabet:
    if alphabet.get(i) == m:
        answer += i
        
answer = ''.join((sorted(answer)))

print(answer)

 aab

a

In [9]:
import collections
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 7, 9, 1, 2, 3, 3, 5, 2, 6, 8, 9, 0, 1, 1, 4, 7, 0]
answer = collections.Counter(my_list)

print(answer[1]) # = 4
print(answer[3])  # = 3
print(answer[100]) # = 0

4
3
0

# for 문과 if문을 한번에

문제 설명
정수를 담은 리스트 mylist를 입력받아, 이 리스트의 원소 중 짝수인 값만을 제곱해 담은 새 리스트를 리턴하는 solution함수를 완성해주세요. 예를 들어, [3, 2, 6, 7]이 주어진 경우

3은 홀수이므로 무시합니다.
2는 짝수이므로 제곱합니다.
6은 짝수이므로 제곱합니다.
7은 홀수이므로 무시합니다.
따라서 2의 제곱과 6의 제곱을 담은 리스트인 [4, 36]을 리턴해야합니다.

제한 조건
mylist는 길이가 100이하인 배열입니다.
mylist의 원소는 1이상 100 이하인 정수입니다.

In [10]:
def solution(mylist):
    answer = []
    list(map(lambda x : answer.append(x**2) if x % 2 == 0 else x, mylist))
    return answer

In [11]:
mylist = [3, 2, 6, 7]
answer = [number**2 for number in mylist if number % 2 == 0]

# flag OR else

문제 설명
본 문제에서는 자연수 5개가 주어집니다.

숫자를 차례로 곱해 나온 수가 제곱수1가 되면 found를 출력하고
모든 수를 곱해도 제곱수가 나오지 않았다면 not found를 출력하는
코드를 작성해주세요.

In [13]:
a = int(input())

answer = 'not found'

for i in range(4):
    n = int(input())
    a *= n
    if int(a**0.5) ** 2 ==  a:
        answer = 'found'
        break

print(answer)

 5
 1
 2
 3
 1

not found

In [18]:
import math

if __name__ == '__main__':
    numbers = [int(input()) for _ in range(5)]
    multiplied = 1
    for number in numbers:
        multiplied *= number
        if math.sqrt(multiplied) == int(math.sqrt(multiplied)):
            print('found')
            break
    else:
        print('not found')

 5
 3
 2
 1
 2

not found

# 두 변수의 값 바꾸기

a = 3
b = 'abc'

temp = a
a = b
b = temp

a = 3
b = 'abc'

a, b = b, a # 참 쉽죠?

# 이진 탐색하기 - binary search

In [22]:
def bisect(a, x, lo=0, hi=None):
    if lo < 0:
        raise ValueError('lo must be non-negative')
    if hi is None:
        hi = len(a)
    while lo < hi:
        mid = (lo + hi) // 2
        if a[mid] < x:
            lo = mid + 1
        else:
            hi = mid
    return lo

mylist = [1, 2, 3, 7, 9, 11, 33]
print(bisect(mylist, 3))

2

In [23]:
import bisect
mylist = [1, 2, 3, 7, 9, 11, 33]
print(bisect.bisect(mylist, 3))

3

# 클래스 인스턴스 출력하기 - class의 자동 string casting

In [24]:
class Coord(object):
    def __init__(self, x, y):
        self.x, self.y = x, y

point = Coord(1, 2)
print( '({}, {})'.format(point.x, point.y) ) 

# 또는
def print_coord(coord):
    print( '({}, {})'.format(coord.x, coord.y) )
print_coord(point)

(1, 2)
(1, 2)

In [25]:
class Coord(object):
    def __init__ (self, x, y):
        self.x, self.y = x, y
    def __str__ (self):
        return '({}, {})'.format(self.x, self.y)

point = Coord(1, 2)

# 가장 큰 수,inf

In [28]:
min_val = 99999
min_val > 100000000 # ?

False

In [29]:
min_val = float('inf')
min_val > 10000000000

True

In [31]:
max_val = float('-inf')
max_val > 0

False

# 파일 입출력 간단하게 하기

In [34]:
f = open('myfile.txt', 'r')
while True:
    line = f.readline()
    if not line: 
        break
    raw = line.split()
    print(raw)
f.close()

['test']

In [35]:
with open('myfile.txt') as file:
    for line in file.readlines():
        print(line.strip().split('\t'))

['test']